ALTER TABLE profiles ADD COLUMN IF NOT EXISTS email TEXT;
UPDATE profiles SET email = u.email FROM auth.users u WHERE profiles.id = u.id;
CREATE OR REPLACE FUNCTION public.handle_sync_profile_email() RETURNS trigger AS \$\$ BEGIN UPDATE public.profiles SET email = NEW.email WHERE id = NEW.id; RETURN NEW; END; \$\$ LANGUAGE plpgsql SECURITY DEFINER; DROP TRIGGER IF EXISTS on_auth_user_updated_sync_email ON auth.users; CREATE TRIGGER on_auth_user_updated_sync_email AFTER UPDATE OF email ON auth.users FOR EACH ROW EXECUTE FUNCTION public.handle_sync_profile_email();
